.svelcomlib-spinner {
	width: var(--size-4-4);
	height: var(--size-4-4);
	border: 3px solid;
	border-color: initial;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: svelcomlib-spinner-animation 1.5s linear infinite;
}

@keyframes svelcomlib-spinner-animation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.svelcomlib-skeleton-placeholder {
	background-color: var(--color-base-30);

	&::after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		animation: svelcomlib-skeleton-animation 1.5s ease-in-out infinite;
		background: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0),
			var(--color-base-25),
			rgba(255, 255, 255, 0)
		);
		background-size: 200px 100%;
		background-repeat: no-repeat;
		border-radius: 4px;
	}
}

.svelcomlib-icon-text {
	display: flex;
	align-items: center;
	gap: 4px;
}

.svelcomlib-icon-text > * {
	display: flex;
}

.svelcomlib-toggle {
	justify-content: space-between;
}



.svelcomlib-extra > * {
	color: var(--text-on-accent);
}

button.svelcomlib-extra {
	background-color: var(--text-accent);
	color: var(--text-on-accent);
}

.svelcomlib-input-extra {
	color: var(--color-green);
	border-color: var(--color-green);
	border-width: 3px;
}

.svelcomlib-success > * {
	color: var(--text-on-accent);
}

button.svelcomlib-success {
	background-color: var(--color-green);
	color: var(--text-on-accent);
}

.svelcomlib-input-success {
	color: var(--color-green);
	border-color: var(--color-green);
	border-width: 3px;
}

.svelcomlib-fail > * {
	color: var(--text-on-accent);
}

button.svelcomlib-fail {
	background-color: var(--background-modifier-error);
	color: var(--text-on-accent);
}

.svelcomlib-input-fail {
	color: var(--text-error);
	border-color: var(--background-modifier-error);
	border-width: 3px;
}

.svelcomlib-input-icon {
	display: flex;
	position: absolute;
	background-color: var(--background-modifier-error);
}


.svelcomlib-virtual-list-viewport {
	position: relative;
	overflow-y: scroll;
	-webkit-overflow-scrolling:touch;
	display: block;
}

.svelcomlib-virtual-list-contents, .svelcomlib-virtual-list-row {
	display: block;
}

.svelcomlib-virtual-list-row {
	overflow: hidden;
}

.svelcomlib-notice {
}

.svelcomlib-notice > code {
	background-color: var(--code-background);
	color: var(--code-normal);
}

.svelcomlib-notice-info {
	color: var(--text-accent);
}

.svelcomlib-notice-info::before {
	content: "ⓘ ";
}

.svelcomlib-notice-warning {
	color: var(--text-error);
}

.svelcomlib-notice-warning::before {
	content: "⚠ ";
}

.svelcomlib-notice-error {
	color: var(--text-error);
	font-weight: bold;
}

.svelcomlib-notice-error::before {
	content: "⛔ ";
}

.svelcomlib-subsetting {
	margin-left: var(--size-4-8);
	border-color: var(--background-modifier-active-hover);
}

.svelcomlib-subsubsetting {
	margin-left: var(--size-4-16);
	border-color: var(--background-modifier-active-hover);
}

.svelcomlib-setting-subheading.svelcomlib-setting-subheading {
	font-size: var(--h3-font);
	margin-top: 0;
	padding: 0.50em;
}

.svelcomlib-setting-subsubheading.svelcomlib-setting-subsubheading {
	font-size: var(--h4-font);
	margin-top: 0;
	padding: 0.25em;
	text-transform: uppercase;
}
