.translator-password-modal-button {
  float: right;
  margin-right: 0;
}

.translator-password-modal-inputs {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 24px;
  margin-bottom: 32px;
  align-items: center;
}

.translator-password-modal-button {
  float: right;
  margin-right: 0;
}

.translator-password-modal-inputs {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 24px;
  margin-bottom: 32px;
  align-items: center;
}
